* {
  margin: 0;
  padding: 0;
}

body {
  @media screen and (max-width: 1500px) {
    header {
      width: 500px;
    }
    .cards {
      flex-direction: column;
      width: 700px;
      .card {
        width: 450px;
        height: 300px;
        h2 {
          margin: 25px;
        }
        p {
          margin: 25px;
        }
        img {
          margin: 25px;
          left: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 700px) {
    header {
      width: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 1.5rem;
      }
      p {
        text-align: center;
        width: 300px;
        font-size: 0.9rem;
      }
    }
    .cards {
      width: 300px;
      .card {
        width: 250px;
        height: 200px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
        }
        img {
          left: 150px;
          width: 48px;
          bottom: 20px;
        }
      }
    }
  }

  @media screen and (min-width: 1500px) {
    header {
      p {
        width: 550px;
      }
    }
    .cards {
      width: 1500px;
      height: 700px;
      .card {
        width: 450px;
        height: 300px;
        transition-duration: .5s;
        &:hover {
          transform: translateY(-15px);
          transition-duration: .5s;
        }
        h2 {
          margin: 25px;
        }
        p {
          margin: 25px;
        }
        img {
          margin: 25px;
          left: 300px;
        }
      }
      .middle-cards {
        height: 700px;
      }
    }
  }
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  header {
    text-align: center;
    h1 {
      color: hsl(234, 12%, 34%);
    }
    #first-heading {
      font-weight: 200;
    }
    #second-heading {
      font-weight: 600;
    }
    p {
      color: hsl(229, 6%, 66%);
      margin: 25px;
    }
  }
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card {
      margin: 25px;
      background-color: #FFF;
      text-align: left;
      border-radius: 10px;
      border-top: 5px;
      border-top-color: #ea5353;
      overflow: hidden;
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      h2 {
        color: hsl(234, 12%, 34%);
      }
      p {
        color: hsl(229, 6%, 66%);
      }
      img {
        position: relative;
      }
      .upper-color {
        position: relative;
        top: 0;
      }
    }
    .middle-cards {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .card-1 {
      .upper-color {
        height: 5px;
        background-color: hsl(180, 62%, 55%);
      }
    }
    .card-2 {
      .upper-color {
        height: 5px;
        background-color: hsl(0, 78%, 62%);
      }
    }
    .card-3 {
      .upper-color {
        height: 5px;
        background-color: hsl(34, 97%, 64%);
      }
    }
    .card-4 {
      .upper-color {
        height: 5px;
        background-color: hsl(212, 86%, 64%);
      }
    }
  }
}